{% load static %}
        <div class="myrow3 row">
            <div class="box col-4">
            <i class="bi bi-geo-alt-fill" style="font-size:20px; "></i><br>
            2nd floor, Ishan Arcade, 1, Gokhale Rd, opposite Gaondevi Mandir, above Canara Bank, Shivaji Path, Dada Patil Wadi, Naupada, Thane West, Thane, Maharashtra 400602 
            </div>
            <div class="box col-4">
            Contact Us: <br>
            <i class="bi bi-telephone-fill" style="font-size:20px; "></i> 9123456789 <br>
            <i class="bi bi-envelope-fill" style="font-size:20px; "></i> officeHR@companyname.com
            </div>
            <div class="box col-4">
            <a href=""><i class="bi bi-linkedin" style="font-size:20px; "></i></a><br>
            <a href=""><i class="bi bi-twitter" style="font-size:20px; "></i></a><br>
            <a href=""><i class="bi bi-whatsapp" style="font-size:20px; "></i></a><br>
            </div>
            </div>
        </div>
    <script src= "{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>