{% extends 'base.html' %}    <!-- extend must be mentioned on first line of the child template -->
{% load static %}

{% block 'main' %}
<form action="" class="col-md-4 mx-auto mt-5 shadow rounded p-2" method="post">
  {% csrf_token %}  
    
  <h3>Edit Profile</h3>
    <!--{% if error %}
    <div class="alert alert-danger"> 
      {{error}}
    </div>
    {% endif %}-->
    
    <div class="form-group">
       <label >Username:</label>
       <input type="text" class="form-control" name="username" readonly value="{{ user.username }}">
     </div>
     <div class="form-group">
       <label >Email:</label>
       <input type="email" class="form-control" name="email" readonly value="{{ user.email }}">
     </div>
     <div class="form-group">
       <label >First name</label>
       <input type="text" class="form-control" name="firstname">
     </div>
     <div class="form-group">
       <label >Last Name</label>
       <input type="text" class="form-control" name="lastname" >
     </div>
     <div class="form-group">
        <label >Mobile</label>
        <input type="text" class="form-control" name="mobile" >
      </div>
      <div class="mb-3">
        <label class="form-label">Address: </label>
        <textarea class="form-control" rows="3" name="address" id=""></textarea>
      </div> 
     <input type="submit" class=" mt-2 btn btn-warning" value="Register">
     &nbsp; &nbsp;
     Already a user? <a href="/userlogin">Sign In</a> 
 </form>
{% endblock 'main' %}